<!--  Index Corousel --> 
<section class="index-corousel">
  <div class="container">
    <div class="col-md-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @carousels.each_with_index do |photo, n| %>
          <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox"> 
        <!--first item-->
        <div class="item active">
          <div class="container">

            <div class="slide-wrapper">
              <div class="col-md-6">
                <div class="slide-image">
                  <div class="thumbnail">
                    <%= link_to category_path(@carousels.first.category) do%>
                      <% image_tag @carousels.first.image.url %>
                    <% end %>
                  </div>
                </div>
              </div> 

              <div class="col-md-6">
                <div class="slide-content">
                  <h3><%= @carousels.first.title %></h3>
                  <p><%= simple_format(@carousels.first.description) %></p>
                  <!--<a href="about-content.html" class="btn btn-primary">繼續閱讀</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--rest item-->
        <% @carousels.drop(1).each do |photo| %>
        <div class="item">
          <div class="container">

            <div class="slide-wrapper">
              <div class="col-md-6">
                <div class="slide-image">
                  <div class="thumbnail">
                    <%= link_to category_path(photo.category) do%>
                      <% image_tag photo.image.url %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="slide-content">
                  <h3><%= photo.title %></h3>
                  <p><%= simple_format(photo.description) %></p>
                  <!--<a href="about-content.html" class="btn btn-primary">繼續閱讀</a>--> </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>  
</section>

<!-- 最新文章post-->
<section class="post">
  <div class="container">
    <div class="post-title text-center"><h4>最新文章</h4></div>

    <% @blogs.each do |blog| %> 
      <div class="post-item col-xs-12 col-sm-6 col-md-4">
        <%= link_to blog_path(blog) do%>
          <%= image_tag blog.image.url ,style:"height:300px;" if blog.image.url.present?   %>
          <div class="post-shadow">
            <h4 class="text-center">
              <span><%= blog.title %></span><hr>
              <span class="glyphicon glyphicon-calendar"><%= blog.date %></span>
            </h4>
          </div>
          <h4 style="padding-top: 15px;line-height: 25px;justify-content: left;"><%= truncate((blog.description), length: 40) %></h4>
        <% end %>
      </div>
    <% end %>

  </div>
</section>

<!-- 標籤 dashboard -->  
<section class="dashboard">
  <div class="container">
    <!-- dashboard 左邊 (熱門文章) -->  
    <div class="dashboard-left col-md-6">
      <div class="left-title"><h4 class="text-center">熱門文章</h4></div>

      <!-- 文章 1  --> 
      <div class="left-item">
        <div class="left-item-img col-md-3">
          <%= image_tag ("image/post/work-7.jpg"), alt: 'avatar'%>
        </div>

        <div class="left-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- 文章 2  --> 
      <div class="left-item">
        <div class="left-item-img col-md-3">
          <%= image_tag ("image/post/work-8.jpg"), alt: 'avatar'%>
        </div>

        <div class="left-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>
      
      <div class="clearfix"></div>

      <!-- 文章 3  --> 
      <div class="left-item">
        <div class="left-item-img col-md-3">
          <%= image_tag ("image/post/work-9.jpg"), alt: 'avatar'%>
        </div>

        <div class="left-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>
    </div>

    <!-- dashboard 右邊 (最新文章) -->  
    <div class="dashboard-right col-md-6">
      <div class="right-title"><h4 class="text-center">熱門教學</h4></div>
      <!-- 文章 1  --> 
      <div class="right-item">
        <div class="right-item-img col-md-3">
          <%= image_tag ("image/post/work-10.jpg"), alt: 'avatar'%>
        </div>

        <div class="right-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- 文章 2  --> 
      <div class="right-item">
        <div class="right-item-img col-md-3">
          <%= image_tag ("image/post/work-1.jpg"), alt: 'avatar'%>
        </div>

        <div class="right-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- 文章 3  --> 
      <div class="right-item">
        <div class="right-item-img col-md-3">
          <%= image_tag ("image/post/work-8.jpg"), alt: 'avatar'%>
        </div>

        <div class="right-item-content col-md-9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 標籤 index-banner -->  
<section class="index-banner">
  <div class="container">
    <div class="banner-content">
      <%= image_tag ("image/2.jpg"), alt: 'avatar'%>
    </div>
  </div>
</section>

<!-- 標籤 index-work -->  
<section class="index-work">
  <div class="container">
    <div class="work-grid">
      <div class="grid-box">
        <%= image_tag ("image/post/work-10.jpg"), alt: 'avatar'%>
      </div> 

      <div class="grid-box">
        <%= image_tag ("image/post/work-8.jpg"), alt: 'avatar'%>
      </div>  

      <div class="grid-box">
        <%= image_tag ("image/post/work-7.jpg"), alt: 'avatar'%>
      </div>  

      <div class="grid-box">
        <%= image_tag ("image/post/work-6.jpg"), alt: 'avatar'%>
      </div>  

      <div class="grid-box">
        <%= image_tag ("image/post/work-8.jpg"), alt: 'avatar'%>
      </div>  

      <div class="grid-box">
        <%= image_tag ("image/post/work-9.jpg"), alt: 'avatar'%>
      </div> 
      
    </div>
  </div>
</section>