<!DOCTYPE html>
<html>
  <head>
    <title>妮子隨筆</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header-primary">
      <div class="container">
        <nav>
          <div id="logo">
            <!--logo(80x40)-->
            <%= link_to root_path do %>
              <%#= image_tag ("image/logo.png"), alt: 'avatar' %>
              <h4 style="color: black;padding: 15px 12px;font-size: 20px;letter-spacing: 5px;">妮子隨筆</h4>
            <% end %>
          </div> 

          <ul class="nav-primary">
            <li><a href="https://www.nchu.edu.tw/index1.php" target="_blank">Travel Around</a></li>
            <li><a href="http://www.engineer.nchu.edu.tw/chinese/" target="_blank">Foodie</a></li>
            <li><a href="http://www.che.nchu.edu.tw/" target="_blank">About Me</a></li>
            <li><%= link_to"drawing diary" %></li>
            <li><%= link_to"Search" %></li>
            <li><%= link_to "管理者登入" %></li>

            <%# if current_user %>
              <%# if current_user.admin? %>
                <li><%#= link_to "修改密碼",edit_user_registration_path %></li>
                <li><%#= link_to "登出",destroy_user_session_path, method: :delete %></li>
              <%# end %>
            <%# end %>
          </ul>          
        </nav>
      </div>
    </header>

    

    <% if flash[:notice] %>
    <div class="container-fluid flash-remind">
      <div class="row">
        <div class="alert alert-success alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>      
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container-fluid flash-remind">
      <div class="row">
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>

  </body>
</html>
